body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.background {
  background-color: #F5F5F5; /* Fondo gris */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  min-height: 70vh; 
  display: flex;
}

.bg-teal {
  background-color: #03B5CF;
  min-height: 70vh;
}

.right-section {
  background-color: #03B5CF; /* Fondo azul */
  height: 100%;
  padding: 20px;
  border-radius: 10px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  color: white; /* Texto blanco */
}

p {
  text-align: center;
  color: white; /* Texto blanco */
}

.form-group label {
  color: black; /* Texto negro */
}

.forgot-link {
  display: block;
  text-align: right;
  color: black; /* Texto negro */
  margin-top: 5px;
}

.btn-primary {
  background-color: #FCBE18;
  border: none;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin-top: 20px;
  color: black; /* Texto negro */
  border-radius: 5px; /* Bordes redondeados */
}

.btn-primary:hover {
  color: white; /* Texto blanco al pasar el cursor */
}

.btn-secondary {
  background-color: #bfe9ea;
  border: none;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin-top: 10px;
  color: black; /* Texto negro */
  border-radius: 5px; /* Bordes redondeados */
}

.btn-secondary:hover {
  color: white; /* Texto blanco al pasar el cursor */
}

.image-container {
  position: relative;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.links {
  margin-top: 20px;
  text-align: center;
}

.links .link {
  display: block;
  margin: 5px 0;
  color: #03B5CF;
  text-decoration: none;
}

.links .link:hover {
  text-decoration: underline;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group-append {
  margin-left: -40px; /* Ajusta este valor según sea necesario para posicionar correctamente el icono */
}

.input-group-append button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.input-group-append button i {
  font-size: 1.2rem;
  color: #333;
}

.forgot-password-button {
  width: 100%;
  padding: 12px; /* Aumenta el padding para el botón */
  background-color: #03B5CF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.forgot-password-button:hover {
  background-color: #FCBE18;
  border: 1px solid #03B5CF; /* Añadir borde al pasar el cursor */
}
