<div class="background">
  <div class="container">
    <div class="row justify-content-center align-items-center vh-100">
      <div class="col-md-12 col-lg-10">
        <div class="login-card">
          <div class="row">
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center image-container" style="height: 90%;">
              <img src="../../../../assets/icons/logoNav.png" alt="Portada" style="max-width: 90%; height: auto; display: block;">
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center p-5 right-section">
              <h2>REGÍSTRESE EN BANCA EMPRESAS</h2>
              <form class="w-100" (submit)="validateAndRegister()">
                <div class="form-group">
                  <label for="ruc">RUC de empresa:</label>
                  <input type="text" class="form-control" id="ruc" placeholder="RUC de empresa" [(ngModel)]="ruc" name="ruc" >
                </div>
                <div class="form-group">
                  <label for="cuentaBancaria">Cuenta bancaria:</label>
                  <input type="text" class="form-control" id="cuentaBancaria" placeholder="Cuenta bancaria" [(ngModel)]="cuentaBancaria" name="cuentaBancaria">
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="terms" [(ngModel)]="termsAccepted" name="termsAccepted">
                  <label class="form-check-label" for="terms">
                    Aceptar <a href="#" (click)="openTermsAndConditions($event)">Términos y Condiciones</a>
                  </label>
                </div>
                <button type="submit" class="btn btn-primary btn-block" [disabled]="!termsAccepted">Continuar</button>
                <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
                <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
              </form>
              <button type="button" class="btn btn-link" routerLink="/login">Volver a Inicio de Sesión</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Términos y Condiciones -->
<div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="termsModalLabel">Términos y Condiciones</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Al registrarse en esta aplicación bancaria, usted acepta los siguientes términos y condiciones:
          <br><strong>1. Aceptación de los Términos:</strong><br>
            Al acceder y utilizar esta aplicación, usted acepta cumplir y estar sujeto a estos términos y condiciones.
            <br><strong>2. Responsabilidad del Usuario:</strong><br>
            Usted es responsable de mantener la confidencialidad de su cuenta y contraseña, así como de todas las actividades que ocurran bajo su cuenta.
            <br><strong>3. Privacidad:</strong><br>
            Nos comprometemos a proteger su privacidad. Toda la información personal que nos proporcione será utilizada de acuerdo con nuestra política de privacidad.
            <br><strong>4. Seguridad:</strong><br>
            Implementamos medidas de seguridad para proteger su información contra accesos no autorizados.
            <br><strong>5. Modificaciones de los Términos:</strong><br>
            Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Las modificaciones serán efectivas inmediatamente después de su publicación.
            <br><strong>6. Contacto:</strong><br>
            Si tiene alguna pregunta sobre estos términos y condiciones, por favor contáctenos a través de nuestro servicio de atención al cliente.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeTermsAndConditions()">Cerrar</button>
      </div>
    </div>
  </div>
</div>
