.flex-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #03B5CF; // Cambia este color al deseado

  .sidebar-list {
    flex: 1;
  }

  .logout-button {
    margin-top: auto;
    padding: 20px;
    text-align: center;

    button {
      width: 100%;
      background-color: #FCBE18;
      color: #fff;
      border: none;
      cursor: pointer;
      padding: 10px 0;
      border-radius: 4px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #C99813;
      }

      mat-icon {
        margin-right: 10px;
      }
    }
  }
}
