.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background-color: #f9f9f9;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.saldo-disponible .card-value {
  font-size: 2rem; /* Ajusta el tamaño según tu preferencia */
  font-weight: bold;
  color: #036478; /* Color verde para destacar el saldo */
}


.text-red {
  color: red;
}

.text-green {
  color: green;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    font-size: 2rem;
    font-weight: 600;
  }
  
  h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  .form-row {
    margin-bottom: 20px;
  
    .form-group {
      margin-bottom: 15px;
    }
  
    .btn-primary {
      background-color: #007bff;
      border-color: #007bff;
      &:hover {
        background-color: #0056b3;
        border-color: #0056b3;
      }
    }
  }
  
  .table {
    width: 100%;
    margin-top: 40px;
  
    thead {
      background-color: #f8f9fa;
  
      th {
        font-weight: 600;
      }
    }
  
    tbody {
      tr {
        &:nth-of-type(odd) {
          background-color: rgba(0, 0, 0, 0.05);
        }
  
        td {
          padding: 15px;
        }
      }
    }
  }
  