<div class="dashboard-container">
  <div class="quick-access">
    <h2>ACCESOS DIRECTOS</h2>
    <div class="quick-access-items">
      <button class="quick-access-item" (click)="transferirDinero()">
        <img src="assets/images/backgrounds/transferencias.png" alt="Transferir dinero">
        <h3>Transferir dinero</h3>
      </button>
      <button class="quick-access-item" (click)="realizarPagos()">
        <img src="assets/images/backgrounds/pagos.png" alt="Realizar Pagos">
        <h3>Realizar Pagos</h3>
      </button>
      <button class="quick-access-item" (click)="estadosDeCuenta()">
        <img src="assets/images/backgrounds/estadocuenta.png" alt="Estados de cuenta">
        <h3>Estados de cuenta</h3>
      </button>
    </div>
  </div>
  <div class="recent-movements">
    <h3>Ultimos Movimientos</h3>
    <div class="movements-list">
      <div class="movement-item">
        <div class="movement-details">
          <span class="movement-description">25.895325</span>
      
        </div>
        <div class="movement-changes">
        
          <span class="movement-change positive">+4,89%</span>
        </div>
      </div>
      <div class="movement-item">
        <div class="movement-details">
          <span class="movement-description">15.789325</span>
     
        </div>
        <div class="movement-changes">
     
          <span class="movement-change positive">+54,23%</span>
        </div>
      </div>
      <div class="movement-item">
        <div class="movement-details">
          <span class="movement-description">15.789325</span>
         
        </div>
        <div class="movement-changes">
          
          <span class="movement-change positive">+54,23%</span>
        </div>
      </div>
      <div class="movement-item">
        <div class="movement-details">
          <span class="movement-description">5.679121</span>
       
        </div>
        <div class="movement-changes">
          
          <span class="movement-change negative">-5,93%</span>
        </div>
      </div>
      <div class="movement-item">
        <div class="movement-details">
          <span class="movement-description">5.679121</span>
        
        </div>
        <div class="movement-changes">
         
          <span class="movement-change negative">-5,93%</span>
        </div>
      </div>
    </div>
  </div>
</div>
