<div class="dashboard-container">
  <div class="dashboard-header">
    <h2>ACCESOS DIRECTOS</h2>
    <div class="quick-access">
      <button mat-button>
        <img src="assets/images/backgrounds/transferencias.png" alt="Transferir dinero">
        <span>Transferir dinero</span>
      </button>
      <button mat-button>
        <img src="assets/images/backgrounds/pagos.png" alt="Realizar Pagos">
        <span>Realizar Pagos</span>
      </button>
      <button mat-button>
        <img src="assets/images/backgrounds/estadocuenta.png" alt="Estados de cuenta">
        <span>Estados de cuenta</span>
      </button>
    </div>
  </div>

  <div class="transactions-section">
    <h3>Últimos Movimientos</h3>
    <div class="filter-dates-btn">
      <input type="date" (change)="filterByDates(startDateInput.value, endDateInput.value)" #startDateInput>
      <input type="date" (change)="filterByDates(startDateInput.value, endDateInput.value)" #endDateInput>
      <button mat-button (click)="filterByDates(startDateInput.value, endDateInput.value)">
        <mat-icon>calendar_today</mat-icon> Filtrar por fechas
      </button>
    </div>

    <div class="transaction-group" *ngFor="let group of filteredTransactionGroups">
      <h4>{{ group.date | date: 'fullDate' }}</h4>
      <div class="transaction" *ngFor="let transaction of group.transactions">
        <div class="transaction-info">
          <p>{{ transaction.description }}</p>
          <p class="transaction-amount" [ngClass]="{'positive': transaction.amount > 0, 'negative': transaction.amount < 0}">
            {{ transaction.amount | currency }}
          </p>
        </div>
        <p class="transaction-balance">{{ transaction.balance | currency }}</p>
      </div>
    </div>
  </div>
</div>
