<div class="container mt-5">

  <h2 class="mb-4 text-center">Banca Web Empresas - BanQuito</h2>
  <h4 class="mb-4 text-center">Empresa: {{empresa.companyName}}</h4>
  <h4 class="mb-4 text-center">Rol: {{usuario.role |rol}}</h4>
  
  <!-- Accesos Directos -->
  <div class="row mb-4 text-center">
    <div class="col-md-4">
      <button class="shortcut-card btn btn-link" >
        <img src="assets/icons/transfer.svg" alt="Transferir dinero" class="shortcut-icon">
        <h3 class="shortcut-title">Reportes</h3>
      </button>
    </div>
    <div class="col-md-4">
      <button class="shortcut-card btn btn-link">
        <img src="assets/icons/payments.svg" alt="Realizar Pagos" class="shortcut-icon">
        <h3 class="shortcut-title">Carga de órdenes</h3>
      </button>
    </div>
    <div class="col-md-4">
      <button class="shortcut-card btn btn-link" >
        <img src="assets/icons/account-statement.svg" alt="Estados de cuenta" class="shortcut-icon">
        <h3 class="shortcut-title">Posición consolidada</h3>
      </button>
    </div>
  </div>
  
  <!-- Últimos Movimientos -->
  <!-- <h3 class="mt-5 mb-4 text-center">Últimos Movimientos</h3>
  <form class="mb-4 text-center">
    <div class="form-row justify-content-center">
      <div class="form-group col-md-3">
        <label for="fechaDesde">Desde</label>
        <input type="date" class="form-control" id="fechaDesde">
      </div>
      <div class="form-group col-md-3">
        <label for="fechaHasta">Hasta</label>
        <input type="date" class="form-control" id="fechaHasta">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
  </form>
  
   Lista de Movimientos 
  <div class="movements-list">
    <div class="movements-group">
      <h4 class="movements-date">Sunday, June 23, 2024</h4>
      <div class="movement-item">
        <div class="movement-description">Transferencia Directa a Vilaña Sanchez Vanessa Alejandra</div>
        <div class="movement-amount text-danger">- $7.00</div>
      </div>
      <div class="movement-item">
        <div class="movement-description">Transferencia Directa de Loyaga Rosero Byron Alexis</div>
        <div class="movement-amount text-success">$7.00</div>
      </div>
      <div class="movement-item">
        <div class="movement-description">05099112--reg Reclamos--t3--039231803</div>
        <div class="movement-amount text-success">$1.00</div>
      </div>
    </div>
    <div class="movements-group">
      <h4 class="movements-date">Wednesday, June 12, 2024</h4>
      <div class="movement-item">
        <div class="movement-description">Transferencia Directa a Garate Altamirano Edgar Danilo</div>
        <div class="movement-amount text-danger">- $2.00</div>
      </div>
    </div>
  </div> -->
</div>
