<div class="container mt-5">
    <h2 class="mb-5 text-center">Banca Web Empresas - BanQuito</h2>
    <h3 class="mt-5 mb-4 text-center">Lista de Movimientos</h3>
    <br>
    <br>
    <!-- Filtro Global -->
    <form [formGroup]="listForm" (ngSubmit)="onSubmit()" class="mb-4 text-center">
        <div class="form-row justify-content-center">
            
            <div class="form-group col-md-3">
                <label for="accountId">Numero de cuenta</label>
                <select class="form-control" id="accountId" formControlName="accountId">
                    <option value="" disabled selected>Seleccione...</option>
                    <option *ngFor="let account of accounts" [value]=account.codeInternalAccount> {{ account.codeInternalAccount }}</option>
                </select>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
              <button mat-raised-button color="primary" type="submit">Buscar</button>
            </div>
          </div>              
    </form>
    
  
    <!-- Lista de Movimientos -->
    <table *ngIf="payments" class="table table-striped mat-elevation-z8 mt-4">
        <thead>
            <tr>
                <th>Tipo de transacción</th>
                <th>Subtipo de transacción</th>
                <th>Referencia</th>
                <th>Cuenta del deudor</th>
                <th>Fecha</th>
                <th>Impuesto aplicado</th>
                <th>Padre de la transacción</th>
                <th>Estado</th>
                <th>Monto</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movimiento of payments">
                <td>{{ movimiento.transactionType}}</td>
                <td>{{ movimiento.transactionSubtype }}</td>
                <td>{{ movimiento.reference }}</td>
                <td>{{ movimiento.debitorAccount}}</td>
                <td>{{ movimiento.createDate}}</td>
                <td>{{ movimiento.applyTax}}</td>
                <td>{{ movimiento.parentTransactionKey}}</td>
                <td>{{ movimiento.status | estado}}</td>
                <td>{{ movimiento.amount}}</td>
            </tr>
        </tbody>
    </table>
  </div>
  