.details-row {
    display: none;
}

.container {
    max-width: 100%;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-group {
    flex: 1;
    margin-right: 10px;
}

.form-group:last-child {
    margin-right: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table {
    margin-top: 20px;
}

h3 {
    margin-top: 3rem; /* Ajuste del margen superior */
}
