<div class="container mt-5">
    <h2 class="mb-5 text-center">Banca Web Empresas - BanQuito</h2>
    <h3 class="mt-5 mb-4 text-center">Posición consolidada</h3>
    <br>
    <br>
    <!-- Filtro Global -->
    <form [formGroup]="listForm" (ngSubmit)="onSubmit()" class="mb-4 text-center">
        <div class="row justify-content-center align-items-center">
            <div class="form-group col-md-3">
              <select class="form-control" id="accountId" formControlName="accountId">
                <option value="" disabled selected>Número de cuenta</option>
                <option *ngFor="let account of accounts" [value]="account.codeInternalAccount">
                  {{ account.codeInternalAccount }}
                </option>
              </select>
            </div>
            
            <div class="col-md-auto">
              <button mat-raised-button color="primary" type="submit">Buscar</button>
            </div>
          </div>            
    </form>
    <div class="card" *ngIf="accountValue != null">
        <h3 class="text-center">Saldo disponible: <span class="card-value">${{accountValue.availableBalance}}</span></h3>
    </div>
        
    <!-- Lista de Movimientos -->
    <table *ngIf="payments" class="table table-striped mat-elevation-z8 mt-4">
        <thead>
            <tr>
                <th>Tipo de transacción</th>
                <th>Tipo</th>
                <th>Cuenta del deudor</th>
                <th>Fecha</th>
                <th>Impuesto aplicado</th>
                <th>Padre de la transacción</th>
                <th>Estado</th>
                <th>Monto</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movimiento of payments">
                <td [ngClass]="{
      'text-red': movimiento.transactionType === 'DEB',
      'text-green': movimiento.transactionType === 'CRE'
    }">{{ movimiento.transactionType | estado}}</td>
                <td [ngClass]="{
      'text-red': movimiento.transactionType === 'DEB',
      'text-green': movimiento.transactionType === 'CRE'
    }">{{ movimiento.reference }}</td>
                <td [ngClass]="{
      'text-red': movimiento.transactionType === 'DEB',
      'text-green': movimiento.transactionType === 'CRE'
    }">{{ movimiento.DEBitorAccount}}</td>
                <td [ngClass]="{
      'text-red': movimiento.transactionType === 'DEB',
      'text-green': movimiento.transactionType === 'CRE'
    }">{{ movimiento.createDate | date}}</td>
                <td [ngClass]="{
      'text-red': movimiento.transactionType === 'DEB',
      'text-green': movimiento.transactionType === 'CRE'
    }">{{ movimiento.applyTax | estado }}</td>
                <td [ngClass]="{
      'text-red': movimiento.transactionType === 'DEB',
      'text-green': movimiento.transactionType === 'CRE'
    }">{{ movimiento.parentTransactionKey}}</td>
                <td [ngClass]="{
      'text-red': movimiento.transactionType === 'DEB',
      'text-green': movimiento.transactionType === 'CRE'
    }">{{ movimiento.status | estado}}</td>
                <td [ngClass]="{
      'text-red': movimiento.transactionType === 'DEB',
      'text-green': movimiento.transactionType === 'CRE'
    }">{{ movimiento.amount}}</td>
            </tr>
        </tbody>
    </table>
  </div>
  