<div class="container mt-5">
    <h2 class="mb-5 text-center">Banca Web Empresas - BanQuito</h2>
    <h3 class="mt-5 mb-4 text-center">Lista de Movimientos</h3>
    <br>
    <br>
    <!-- Filtro Global -->
    <form [formGroup]="listForm" (ngSubmit)="onSubmit()" class="mb-4 text-center">
        <div class="form-row justify-content-center">
            
            <div class="form-group col-md-3">
                <label for="accountId">Numero de cuenta</label>
                <select class="form-control" id="accountId" formControlName="accountId">
                    <option value="" disabled selected>Seleccione...</option>
                    <option *ngFor="let account of accounts" [value]="1"> {{ account.codeInternalAccount }}</option>
                </select>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
              <button mat-raised-button color="primary" type="submit">Buscar</button>
            </div>
          </div>              
    </form>
    
  
    <!-- Lista de Movimientos -->
    <table *ngIf="payments" class="table table-striped mat-elevation-z8 mt-4">
        <thead>
            <tr>
                <th>Tipo de pago</th>
                <th>Fecha de pago</th>
                <th>Saldo pendiente</th>
                <th>Canal</th>
                <th>Monto</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movimiento of payments">
                <td>{{ movimiento.paymentType}}</td>
                <td>{{ movimiento.paymentDate }}</td>
                <td>{{ movimiento.outstandingBalance }}</td>
                <td>{{ movimiento.channel}}</td>
                <td>{{ movimiento.collectionAmount}}</td>
            </tr>
        </tbody>
    </table>
  </div>
  