.cardWithShadow {
  margin: 20px;
}

.theme-card {
  .mat-card-header {
    background-color: #3a86ff;
    color: #fff;
    padding: 10px;
  }

  .mat-card-title {
    margin: 0;
    font-size: 1.5rem;
  }

  .b-t-1 {
    border-top: 1px solid #ddd;
  }

  .container {
    margin-top: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .btn-primary {
    background-color: #3a86ff;
    border-color: #3a86ff;
    &:hover {
      background-color: #0056b3;
      border-color: #0056b3;
    }
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .table {
    margin-top: 20px;
  }
}
