<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Realizar Transferencias</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div class="container mt-4">
      <form (ngSubmit)="onSubmit()" class="mb-4">
        <div class="row mb-3">
          <div class="form-group col-md-6">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Cuenta de Origen</mat-label>
              <mat-select id="cuentaOrigen" [(ngModel)]="transferencia.cuentaOrigen" name="cuentaOrigen" required>
                <mat-option value="">Seleccione una cuenta</mat-option>
                <mat-option value="2205361970">2205361970</mat-option>
                <mat-option value="0609861234">0609861234</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group col-md-6">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Cuenta de Destino</mat-label>
              <input matInput type="text" id="cuentaDestino" [(ngModel)]="transferencia.cuentaDestino" name="cuentaDestino" required>
            </mat-form-field>
          </div>
        </div>
        <div class="row mb-3">
          <div class="form-group col-md-6">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Nombre del Titular</mat-label>
              <input matInput type="text" id="nombreTitular" [(ngModel)]="transferencia.nombreTitular" name="nombreTitular" required>
            </mat-form-field>
          </div>
          <div class="form-group col-md-6">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Monto</mat-label>
              <input matInput type="number" id="monto" [(ngModel)]="transferencia.monto" name="monto" required>
            </mat-form-field>
          </div>
        </div>
        <div class="row mb-3">
          <div class="form-group col-md-12">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Detalle de Pago</mat-label>
              <textarea matInput id="detalle" [(ngModel)]="transferencia.detalle" name="detalle" rows="3" required></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-right">
            <button mat-raised-button color="primary" type="submit">Realizar Transferencia</button>
          </div>
        </div>
      </form>

      <!-- Tabla de Transferencias Realizadas -->
      <h3 class="mt-5">Lista de Transferencias Realizadas</h3>
      <table mat-table [dataSource]="transferencias" class="mat-elevation-z8 mt-4">
        <ng-container matColumnDef="cuentaOrigen">
          <th mat-header-cell *matHeaderCellDef> Cuenta de Origen </th>
          <td mat-cell *matCellDef="let transferencia"> {{transferencia.cuentaOrigen}} </td>
        </ng-container>

        <ng-container matColumnDef="cuentaDestino">
          <th mat-header-cell *matHeaderCellDef> Cuenta de Destino </th>
          <td mat-cell *matCellDef="let transferencia"> {{transferencia.cuentaDestino}} </td>
        </ng-container>

        <ng-container matColumnDef="nombreTitular">
          <th mat-header-cell *matHeaderCellDef> Nombre del Titular </th>
          <td mat-cell *matCellDef="let transferencia"> {{transferencia.nombreTitular}} </td>
        </ng-container>

        <ng-container matColumnDef="monto">
          <th mat-header-cell *matHeaderCellDef> Monto </th>
          <td mat-cell *matCellDef="let transferencia"> {{transferencia.monto | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="detalle">
          <th mat-header-cell *matHeaderCellDef> Detalle </th>
          <td mat-cell *matCellDef="let transferencia"> {{transferencia.detalle}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
