.commission-form {
  margin-top: 20px;
}

.commission-form h4 {
  margin-bottom: 20px;
  color: #047d95;
}

.commission-form .form-group {
  margin-bottom: 15px;
}

.commission-form .btn {
  width: 100px;
  margin-right: 10px;
}
