<div class="background">
    <div class="container">
      <div class="row justify-content-center align-items-center vh-100">
        <div class="col-md-12 col-lg-10">
          <div class="login-card">
            <div class="row">
              <div class="col-md-6 d-flex flex-column justify-content-center align-items-center image-container" style="height: 90%;">
                <img src="../../../../assets/icons/logoNav.png" alt="Portada" style="max-width: 90%; height: auto; display: block;">
              </div>
              <div class="col-md-6 d-flex flex-column justify-content-center align-items-center p-5 right-section">
                <h2>Te damos la bienvenida a Banca Empresas de Banco Banquito</h2><br>
                <p>Ingresa el código de seguridad enviado al correo electrónico registrado en Banca Electrónica para Empresas.</p>
                <form class="w-100" (submit)="verifyCode()">
                  <div class="form-group">
                    <input type="text" class="form-control" id="code" placeholder="Código" [(ngModel)]="code" name="code">
                  </div>
                  <button type="submit" class="btn btn-primary btn-block">Confirmar</button>
                  <div *ngIf="errorMessage">{{ errorMessage }}</div>
                </form>
                <button type="button" class="btn btn-link" routerLink="/login">Volver al login</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  