<div class="container mt-5">

  <h2 class="mb-4 text-center">Banca Web Empresas - BanQuito</h2>
  <h4 class="mb-4 text-center">Empresa: {{empresa.companyName}}</h4>
  <h4 class="mb-4 text-center">Rol: {{usuario.role}}</h4>
  
  <!-- Accesos Directos -->
  <div class="row mb-4 text-center">
    <div class="col-md-4">
      <button class="shortcut-card btn btn-link" >
        <img src="assets/icons/transfer.svg" alt="Transferir dinero" class="shortcut-icon">
        <h3 class="shortcut-title">Reportes</h3>
      </button>
    </div>
    <div class="col-md-4">
      <button class="shortcut-card btn btn-link">
        <img src="assets/icons/payments.svg" alt="Realizar Pagos" class="shortcut-icon">
        <h3 class="shortcut-title">Carga de órdenes</h3>
      </button>
    </div>
    <div class="col-md-4">
      <button class="shortcut-card btn btn-link" >
        <img src="assets/icons/account-statement.svg" alt="Estados de cuenta" class="shortcut-icon">
        <h3 class="shortcut-title">Posición consolidada</h3>
      </button>
    </div>
  </div>

</div>
